.div_kos {
    background-color: white;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: auto;
    background-repeat: round;
    border: 2px solid #00a300;
}
.site_kos {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-image: url("../resorces/backgr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll
}
.kos_price {
    color: red;
    margin-left: 7px;
}
.kosarica {
    margin-top: 15px;
}
.price_label {
    display: flex;
    width: 275px;
    margin: auto;
}
.empty, 
.del_item{
    max-width: 319px;
    min-width: 275px;
    height: 50px;
    background-color: #ff5050;
    border: 2px solid red;
    border-radius: 7px;
    font-size: large;
    color: white;
    cursor: pointer;
    margin: 15px auto;
}
.empty:hover,
.del_item:hover {
    background-color: white;
    color: red;
}
.placanje {
    text-align: left;
    margin: 25px 0px;
    width: 275px;
}
.banka {
    margin: 10px 0px;
}
.bname {
    font-weight: bold;
}
.kositem {
    border: 1px solid green;
    width: 297px;
    padding: var(--padding, 0px);
    color: var(--secondary-color, black);
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.kositem:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.kositem_name {
    color: black;
    font-weight: bold;
}
.kositem_prize {
    color: red;
    font-size: larger;
}
.cijena {
    margin-top: 15px;
}
.iznos_div {
    width: 275px;
    text-align: left;
    padding-left: 10px;
}
.bold {
    font-weight: bold;
}
.status {
    margin: 5px 0px;
}
.status {
    width: 250px;
    background-color: rgb(77,77,77);
    color: white;
    position: absolute;
    bottom: 20px;
    margin: auto;
    right: 32px;
    border: 2px solid yellowgreen;
    z-index: 1;
    display: none;
}
.full {
    display: none;
}
#kos_empty {
    display: initial;
}
.notif,
.notif_added {
    background-color: rgb(77, 77, 77);
    width: 300px;
    height: 80px;
    color: white;
    position: fixed;
    right: 10px;
    bottom: 60px;
    display: none;
    align-items: center;
    font-size: 30px;
    border: 2px solid #17be00;
    cursor: pointer;
}
.notif_added {
    width: 210px;
}
@keyframes fadeout {
    60% {display: flex}
    100% {display: none;}
}
#notif_show {
    display: flex;
    animation-name: fadeout;
    animation-duration: 3s;
}
.notif > p,
.notif_added > p {
    margin-left: 20px;
    margin-right: auto;
}
.notif_added > p {
    margin-right: 20px;
}
.check {
    margin-right: 20px;
    color: green;
    background-image: radial-gradient(white, white,white, transparent,transparent,transparent);
}
@supports (display: grid) {
    @media screen and (min-width: 500px) {
        .placanje {
            width: auto;
        }
        .status {
            right: 80px;
        }
        .notif {
            width: 400px;
        }
        .notif,
        .notif_added {
            right: 90px;
            bottom: 10px;
        }
    }
    @media screen and (min-width: 900px) {
        .div_kos {
            flex-direction: row;
            align-items: baseline;
        }
        .kosarica,
        .placanje {
            margin: auto;
            margin-top: 20px;
        }
        .proizvodi {
            margin-bottom: 20px; 
        }
        .site_kos > .main_prof {
            width: 900px;
        }
    }
}